@import 'tailwindcss';

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

:root {
	--font-sans: 'Vazir', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--font-vazir);
	min-height: 100vh;
	user-select: none;
	background-color: var(--background-app-rgb);
}

.container {
	@apply mx-auto;
}

.textField__input {
	@apply w-full py-3 px-4 rounded-xl bg-gray-100 text-gray-800 border border-gray-100 outline-none duration-200 transition-all hover:border-blue-300 focus:outline-none focus:border-blue-700 focus:bg-white;
}
.btn-primary {
	@apply font-bold bg-blue-500 hover:bg-blue-300 hover:text-blue-900 rounded-2xl transition-all duration-300 px-4 py-3 text-white shadow-lg shadow-blue-800 w-full cursor-pointer;
}

.table__th {
	@apply border-b-2 border-b-gray-500 font-medium p-3 pr-8 pb-3 text-right;
}
.table__td {
	@apply border-b  border-b-gray-300 p-3 pr-8 pb-3 text-right;
}
.badge {
	@apply whitespace-nowrap px-3 py-1 rounded-xl;
}
.badge--success {
	@apply bg-green-600 text-white;
}
.badge--error {
	@apply bg-rose-600 text-white;
}
.badge--primary {
	@apply bg-blue-500 text-white;
}
.badge--secondary {
	@apply bg-gray-300 text-gray-600;
}
