@import 'tailwindcss';

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

:root {
	--font-sans: 'Vazir', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--font-vazir);
	min-height: 100vh;
	user-select: none;
	background-color: var(--background-app-rgb);
}

.container {
	@apply mx-auto;
}

.btn {
	@apply p-2 mt-0;
}
.btn-primary {
	@apply mb-4 bg-green-500 hover:bg-blue-300;
}
